/.idea
/Library
/Logs
/obj
/Release-Win64
/UserSettings
/win
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/GameMain.csproj
/HybridCLR.Editor.csproj
/HybridCLR.Runtime.csproj
/HybridCLRXlua.sln
/SevenZip.csproj
/UnityFS.csproj
/Assets/HybridCLRBuildCache.meta
/Assets/HybridCLRBuildCache
/Assets/StreamingAssets.meta
/Assets/StreamingAssets
/Assets/Scripts/XLua/Gen.meta
/Assets/Scripts/XLua/Gen
/Temp
/Reporter.Runtime.csproj
/Release-Android
/Release-MacOSX
/Release-iOS
/HybridCLRXluaNew.sln
/Assets/LinkGenerator/link.xml
/Assets/LinkGenerator/link.xml.meta
.DS_Store
.vscode

/HybridCLRData
/Assets/GameMain/Scripts/HybridCLR/AOTGenericReferences.cs
/ProjectSettings/RiderScriptEditorPersistedState.asset
/ProjectSettings/ProjectVersion.txt
/Assets/GameMain/Scripts/HybridCLR/link.xml
/Assets/GameMain/Scripts/HybridCLR/link.xml.meta
/StompyRobot.SRDebugger.Editor.csproj
/StompyRobot.SRDebugger.csproj
/StompyRobot.SRF.Editor.csproj
/StompyRobot.SRF.csproj
/.vs/HybridCLRXlua/v15/.suo
/.vs/HybridCLRXlua/v15/Server/sqlite3/db.lock
/.vs/HybridCLRXlua/v15/Server/sqlite3/storage.ide
/.vs/HybridCLRXlua/v15/Server/sqlite3/storage.ide-shm
/.vs/HybridCLRXlua/v15/Server/sqlite3/storage.ide-wal
/.vsconfig
/Assets/Resources/BillingMode.json
/Assets/Resources/BillingMode.json.meta
/.vs
